{% extends 'posts/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{title}}</h3>

<div class="row">
    <form action="/posts/create/" method="POST" class="col s12">
        <!-- <div class="row">
            <div class="input-field col s6">
                <input id="title" type="text" class="validate">
                <label class="active" for="first_name">Title</label>
            </div>
        </div>
        

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label class="active" for="textarea1">Textarea</label>
            </div>
        </div>

        <div class="row">
                <a class="btn" href="/posts/create">Post</a>
        </div> -->
        {% csrf_token %}
        {% load materializecss %}

        {{ form | materializecss }}

        <!-- <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" id='id_post_attachment_input'>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div> -->
        
        <div class="row">
                <input type="submit" class="btn" value="Post">
                <a href="/posts" class="btn">Back</a>
        </div>

    </form>
</div>
{% endblock %}