{% extends 'posts/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{title}}</h3>

<div class="row">
    <form action="/posts/create/" method="POST" class="col s12">
        <!-- <div class="row">
            <div class="input-field col s6">
                <input id="title" type="text" class="validate">
                <label class="active" for="first_name">Title</label>
            </div>
        </div>
        

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label class="active" for="textarea1">Textarea</label>
            </div>
        </div>

        <div class="row">
                <a class="btn" href="/posts/create">Post</a>
        </div> -->
        {% csrf_token %}
        {{ form }}

        <div class="row">
                <input type="submit" class="btn" value="Post">
        </div>
    </form>
</div>
{% endblock %}