<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}

    <title>Chase Web Services</title>
</head>
<body>
    {% block javascript %}
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
        
        <script>
        $(document).ready(function(){
            function initializeComponents() {
                 // Initialize materialize data picker
                $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
                $('select').formSelect();
            }
        });
        
        </script>
    
    {% endblock javascript %}

    <header class="container center-align">
        <h1>Chase Web Services (BLOG)</h1>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}

        <br>

        <a style="display:block" class="center-align" href="/admin">Admin Page</a>
    </div>
</body>
</html>